<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Cocktails</title>
	<script type="text/javascript" src="javascript.js"></script>
	<link href="style.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div id ="page">
		<header>
			<nav>
				<ul>
					<li><a href="" class="current">Home</a></li>
					<li><a href="" class="current">My Bar</a></li>
					<li><a href="" class="current">My Recipes</a></li>
					<li><a href="" class="current">Submit Recipe</a></li>
					<li><a href="login.jsp" class="current">Login</a></li>
					<li><a href="logincontroller" class="current">Logout</a></li>
				</ul>
			</nav>
		</header>
