@CHARSET "ISO-8859-1";
body{
	font-family:arial;
	background-color:rgb(28, 10, 52);
	color:rgb(255,255,255);}
header{
	background-color:rgb(0,0,0);
	color:rgb(255,255,255);}
nav{
	background-color:rgb(109,24,217);
	color:rgb(168, 107, 246);
}
nav li {
	display: inline;
	margin-right: 40px;}
loginbox{
	background-color:rgb(168, 107, 246);}