{{extend 'layout.html'}}
        {{for tag in alltags:}}
        {{=tag.tags.tag_name}}<a href="{{=URL('tag_remove', args=tag.id)}}"class="btn-group-vertical btn-xs">  x</a>
        {{pass}}
        <a href="{{=URL('drop_all_tags')}}" class="btn btn-primary">Clear all tags.</a>
        {{=searchparams}}
        <a href="{{=URL('get_recipes_tags')}}" class="btn btn-primary">Get recipes!</a>
