{{extend 'layout.html'}}
        <p>
        <h1>Browse all recipes:</h1>
        {{for recipe in masterlist:}}
        {{=LI(A(recipe.cocktail_name, _href=URL("show_recipe", args=recipe.id)))}}
        {{pass}}
        </p>