{{extend 'layout.html'}}
        <h1>Recipes based on your bar:</h1>
        <p>
        {{for recipe in allrecipes:
            for item in barset:
                if item.recipe_ingredients.recipes == recipe.recipe_ingredients.recipes and item[count] == recipe[count]:
                    =LI(A(item.recipe_ingredients.recipes.cocktail_name, _href=URL("show_recipe", args=item.recipe_ingredients.recipes)))}}
        </p>
        {{pass}}
         {{pass}}
         {{pass}}
