{{extend 'layout.html'}}
        <p>
        <h1>Recipies based on your bar and selected tags:</h1>
        {{for recipe in allrecipes:
            for item in barset:
                if item.recipe_ingredients.recipes == recipe.recipe_ingredients.recipes and item[count] == recipe[count]:
                    =LI(A(item.recipe_ingredients.recipes.cocktail_name, _href=URL("show_recipe", args=item.recipe_ingredients.recipes)))}}
        </p>
        {{pass}}
         {{pass}}
         {{pass}}
        <a href="{{=URL('add_tags')}}" class="btn btn-primary">Modify your search tags.</a>
        <a href="{{=URL('my_bar')}}" class="btn btn-primary">Add or remove items from your bar.</a>