{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}
 <div align='center'>
<a href="{{=URL('browse')}}" class="btn btn-primary">Browse all recipes.</a>
<a href="{{=URL('my_bar')}}" class="btn btn-primary">Edit your bar.</a>
<a href="{{=URL('search_by_tag')}}" class="btn btn-primary">Search based on tags.</a>
<a href="{{=URL('my_recipes')}}" class="btn btn-primary">Edit your recipes.</a>
<a href="{{=URL('new_recipe_name')}}" class="btn btn-primary">Submit a new recipe.</a>
<a href="{{=URL('my_favorites')}}" class="btn btn-primary">View your saved recipes.</a>
</div>
<body><br><br>Welcome to a web app designed to allow you to view and share cocktail recipes. If you are not logged in
feel free to brows the list of all cocktails. If you are signed in as a user you can save your own bar and select and change
tags for the type of cocktails you like. You can then search based upon either or both of these qualities. You can also
save recipes you like and comment on them to let other users know your thoughts on the recipe, such as substitutions
or reviews. Lastly you can also submit recipes to the site so that you can share your own personal favorites. Please
have fun and drink responsibly!</body>
<br><br>
This project has two accounts included for demonstration purposes. The first is admin@admin.com passsword:admin. This was used to load most of the recipes but is mostly uninteresting. hmac@nybar.com (named after the famous Harry's New York Bar in Paris.) password: 5ruedaunou is intended to demonstrate an actual user. This account was used to post a few recipes build a bar and test the search functions. All the demonstration recipies and images come from wikipedia's collection of the International Bartender's Assosciation official recipes. Excpet for the image on this main page which is courtesy of a friend.

{{block right_sidebar}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
      href="{{=URL('admin','default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("admin")}}
    </a></h3></div>
  <div class="panel-body">
    {{=T("Don't know what to do?")}}
  </div>
  <ul class="list-group">
    <li class="list-group-item">{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
    <li class="list-group-item"><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
  </ul>
</div>
{{end}}
