{{extend 'layout.html'}}
<h1 xmlns:type="http://www.w3.org/1999/xhtml">Please select an item from your home bar.</h1>
</head>
<h3>Your ingredients:</h3>
{{for item in myingredients:}}
    <p>
        {{=item.ingredients.ingredient_name}}<a href="{{=URL('bar_remove', args=item.user_bar.id)}}"class="btn-group-vertical btn-xs">  x</a>
    </p>
{{pass}}
<br>
<br>
<body>
    <div align="right">
    Select an ingredint type:
    </div>
    <div class="btn-group pull-right" role="group" aria-label="Ingredient Type">
    <a href="{{=URL('my_bar', args='Spirit')}}"class="btn btn-primary">Spirit</a>
  <a href="{{=URL('my_bar', args='Liqueur')}}"class="btn btn-primary">Liqueur</a>
 <a href="{{=URL('my_bar', args='Mixer')}}"class="btn btn-primary">Mixer</a>
  <a href="{{=URL('my_bar', args='Other')}}"class="btn btn-primary">Other</a>
        <br>
         <br>
    </div>
<br>
    <br>
{{=myingredient}}
<div align="right">
<a href="{{=URL('get_recipies')}}" class="btn btn-primary">Get Recipies!</a>
<a href="{{=URL('add_tags')}}" class="btn btn-primary">Get recipies filtered by tags.</a>
</div>
</body>
