{{extend 'layout.html'}}

        <h1>Your saved recipes.:</h1>
        {{for recipe in recipe_list:}}
        <div style="display: inline;">
        <p>
        {{=LI(A(recipe.recipe.cocktail_name, _href=URL("show_recipe", args=recipe.recipe.id)))}}<a href="{{=URL('remove_favorite', args=recipe.recipe.id)}}"class="btn-lnk btn-xs">  -Remove</a>
        </p>
        </div>
        {{pass}}
