{{extend 'layout.html'}}
        <p>
        <h1>Select a recipe to edit.:</h1>
        {{for recipe in recipe_list:}}
        {{=LI(A(recipe.cocktail_name, _href=URL("new_cocktail_details", args=recipe.id)))}}
        {{pass}}
        </p>
        <a href="{{=URL('new_recipe_name')}}" class="btn btn-primary">Submit a new recipe.</a>