{{extend 'layout.html'}}
<h2> {{=recipe.cocktail_name}}</h2>
<body>
<h3>Ingredients:</h3>
{{for ingredient in ingredientlist:}}
    <p>
    {{=ingredient.ingredients.ingredient_name}}<a href="{{=URL('ingredient_remove', args=[ingredient.ingredients.id, recipe.id])}}"class="btn-group-vertical btn-xs">  x</a>
    </p>
{{pass}}
<h3>Tags:</h3>
Please choose a few of our tags to describe the drink's qualities and ingredients.
{{for tag in recipetags:}}
    <p>
    {{=tag.tag.tag_name}}<a href="{{=URL('recipe_tag_remove', args=[tag.id, recipe.id])}}"class="btn-group-vertical btn-xs">  x</a>
    </p>
{{pass}}
{{=ingredientForm}}
{{=tagform}}
</body>
<h3>Instructions:</h3>
Provide a list of ingredients/quantities and steps here.
{{=recipeForm}}
<a href="{{=URL('new_recipe_name')}}" class="btn btn-primary">Enter a new recipe.</a>
