{{extend 'layout.html'}}
        <h2>Selected tags:</h2>
        {{for tag in alltags:}}
        {{=tag.tags.tag_name}}<a href="{{=URL('tag_remove', args=tag.id)}}"class="btn-group-vertical btn-xs">  x</a>
        {{pass}}
        <div>
            <a href="{{=URL('drop_all_tags')}}" class="btn btn-primary">Clear all tags.</a>
        </div>
        {{=searchparams}}
        {{for result in results:}}
        <p>
            {{=LI(A(result.recipe_tags.recipe.cocktail_name, _href=URL("show_recipe", args=result.recipe_tags.recipe.id)))}}
        </p>
        {{pass}}