{{extend 'layout.html'}}
      <h1>{{=cocktail.cocktail_name}}</h1>
        <a href="{{=URL('save_recipe', args =cocktail.id)}}" class="btn btn-secondary">Save this recipe.</a>
        <body>
        <div style="text-align:center">
            {{if cocktail.image != None:}}
        <img width="200px"
            src="{{=URL('download', args=cocktail.image)}}" />
            {{pass}}
        </div>
        <h3>Ingredients:</h3>
        <p>{{=cocktail.ingredients_quantities}}</p>
        <h3>Instructions:</h3>
        <p>{{=cocktail.instructions}}</p></body>
        {{pass}}
        tags:|
        {{for tag in recipetags:}}
            {{=tag.tag.tag_name}}|
        {{pass}}
        <h3>Comments:</h3>
    {{for comment in pagecomments:}}
    <p>
        {{=db.auth_user[comment.owner_id].first_name}} on {{=comment.created_on}} says <i>{{=comment.body}}</i>
    </p>
    {{pass}}
    <h2>
        Post a comment:
    </h2>
        {{=form}}
